<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datatypes</title>

    

</head>

<body>

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <link rel="stylesheet" href="index.css">
        <title>AUTODOC</title>
    </head>
    <body>
        
        <form action="/inputypes" method="post">
            <select name="filename" id="filename">
                {% for filename in filenames %}
                <option> {{ filename }} </option>
                {% endfor %}
            </select>
        
            <button type="submit">submit</button>
        </form>

    </body>    
</html>    




